<settings>
  <setting name="AllowOnlyOneInstance">1</setting>
  <setting name="CloseOnEscape">0</setting>
  <setting name="CollapseServicesOnStart">0</setting>
  <setting name="DbgHelpPath">{{ tools_path }}\processhacker\x64\dbghelp.dll</setting>
  <setting name="DbgHelpSearchPath"></setting>
  <setting name="DbgHelpUndecorate">1</setting>
  <setting name="DisabledPlugins">NetAdapters.dll</setting>
  <setting name="ElevationLevel">1</setting>
  <setting name="EnableCycleCpuUsage">1</setting>
  <setting name="EnableInstantTooltips">0</setting>
  <setting name="EnableKph">1</setting>
  <setting name="EnableNetworkResolve">1</setting>
  <setting name="EnablePlugins">1</setting>
  <setting name="EnableServiceNonPoll">0</setting>
  <setting name="EnableStage2">1</setting>
  <setting name="EnableWarnings">1</setting>
  <setting name="EnvironmentListViewColumns">@96|0,195|1,623</setting>
  <setting name="FindObjRegex">0</setting>
  <setting name="FindObjListViewColumns">@96|0,202|1,100|2,200|3,80</setting>
  <setting name="FindObjWindowPosition">350,350</setting>
  <setting name="FindObjWindowSize">@96|550,420</setting>
  <setting name="FirstRun">0</setting>
  <setting name="Font"></setting>
  <setting name="ForceNoParent">0</setting>
  <setting name="HandleTreeListColumns">@96|0,0,164|1,1,544|2,2,80|3,3,197</setting>
  <setting name="HandleTreeListSort">2,1</setting>
  <setting name="HiddenProcessesListViewColumns"></setting>
  <setting name="HiddenProcessesWindowPosition">400,400</setting>
  <setting name="HiddenProcessesWindowSize">@96|520,400</setting>
  <setting name="HideDriverServices">0</setting>
  <setting name="HideOnClose">0</setting>
  <setting name="HideOnMinimize">1</setting>
  <setting name="HideOtherUserProcesses">0</setting>
  <setting name="HideSignedProcesses">0</setting>
  <setting name="HideUnnamedHandles">0</setting>
  <setting name="HighlightingDuration">3e8</setting>
  <setting name="IconMask">b</setting>
  <setting name="IconMaskList"></setting>
  <setting name="IconNotifyMask">c</setting>
  <setting name="IconProcesses">a</setting>
  <setting name="IconSingleClick">0</setting>
  <setting name="IconTogglesVisibility">1</setting>
  <setting name="LogEntries">200</setting>
  <setting name="LogListViewColumns"></setting>
  <setting name="LogWindowPosition">300,300</setting>
  <setting name="LogWindowSize">@96|450,500</setting>
  <setting name="MainWindowAlwaysOnTop">0</setting>
  <setting name="MainWindowOpacity">0</setting>
  <setting name="MainWindowPosition">1920,409</setting>
  <setting name="MainWindowSize">@96|1080,720</setting>
  <setting name="MainWindowState">3</setting>
  <setting name="MaxSizeUnit">6</setting>
  <setting name="MemEditBytesPerRow">10</setting>
  <setting name="MemEditGotoChoices">0x11e0\s11e0\s0x000015f8\s000015f8\s15f8</setting>
  <setting name="MemEditPosition">900,349</setting>
  <setting name="MemEditSize">@96|600,500</setting>
  <setting name="MemFilterChoices">KSSM</setting>
  <setting name="MemResultsListViewColumns">@96|0,120|1,80|2,200</setting>
  <setting name="MemResultsPosition">300,300</setting>
  <setting name="MemResultsSize">@96|500,520</setting>
  <setting name="MemoryTreeListColumns">@96|0,0,120|1,1,164|2,2,80|3,3,70|4,4,836|5,5,80|6,6,80|7,7,80|8,8,80|9,9,80</setting>
  <setting name="MemoryTreeListSort">0,1</setting>
  <setting name="MemoryListsWindowPosition">400,400</setting>
  <setting name="MemoryReadWriteAddressChoices">0x00007FFF3CBCFF88\s0x00007fff4da5a1c8\s0x0000000100000058\s0x4c59000000000010\s0x000000f44c5bcac8\s4c59000000000010</setting>
  <setting name="MiniInfoWindowEnabled">1</setting>
  <setting name="MiniInfoWindowOpacity">0</setting>
  <setting name="MiniInfoWindowPinned">0</setting>
  <setting name="MiniInfoWindowPosition">1399,760</setting>
  <setting name="MiniInfoWindowRefreshAutomatically">1</setting>
  <setting name="MiniInfoWindowSize">@96|368,280</setting>
  <setting name="ModuleTreeListColumns">@96|0,0,243|1,1,123|2,2,60|3,3,160|5,8,100|6,4,321|7,7,80|9,6,73|10,5,157</setting>
  <setting name="ModuleTreeListSort">0,1</setting>
  <setting name="NetworkTreeListColumns">@96|0,0,179|1,1,120|2,2,50|3,3,120|4,4,50|5,5,45|6,6,148|7,7,80</setting>
  <setting name="NetworkTreeListSort">0,1</setting>
  <setting name="NoPurgeProcessRecords">0</setting>
  <setting name="PluginsDirectory">plugins</setting>
  <setting name="ProcessServiceListViewColumns">@96|0,120|1,220</setting>
  <setting name="ProcessTreeListColumns">@96|0,0,322|1,1,50|2,3,39|3,4,88|4,5,101|5,9,124|6,10,276|10,11,455|12,6,87|17,7,70|20,8,45|40,2,27</setting>
  <setting name="ProcessTreeListSort">0,0</setting>
  <setting name="ProcPropPage">Modules</setting>
  <setting name="ProcPropPosition">1993,528</setting>
  <setting name="ProcPropSize">@96|993,713</setting>
  <setting name="ProgramInspectExecutables">peview.exe &quot;%s&quot;</setting>
  <setting name="PropagateCpuUsage">0</setting>
  <setting name="RunAsProgram">C:\Windows\System32\vmcompute.exe</setting>
  <setting name="RunAsUserName">ZARZĄDZANIE NT\USŁUGA SIECIOWA</setting>
  <setting name="SampleCount">5dc</setting>
  <setting name="SampleCountAutomatic">1</setting>
  <setting name="ScrollToNewProcesses">0</setting>
  <setting name="SearchEngine">http://www.google.com/search?q=&quot;%s&quot;</setting>
  <setting name="ServiceListViewColumns"></setting>
  <setting name="ServiceTreeListColumns">@96|0,0,140|1,1,301|2,2,100|3,3,70|4,4,130|5,6,50|8,5,100</setting>
  <setting name="ServiceTreeListSort">0,1</setting>
  <setting name="SessionShadowHotkey">106,2</setting>
  <setting name="ShowCommitInSummary">0</setting>
  <setting name="ShowCpuBelow001">0</setting>
  <setting name="StartHidden">0</setting>
  <setting name="SysInfoWindowAlwaysOnTop">0</setting>
  <setting name="SysInfoWindowOneGraphPerCpu">1</setting>
  <setting name="SysInfoWindowPosition">348,317</setting>
  <setting name="SysInfoWindowSection">CPU</setting>
  <setting name="SysInfoWindowSize">@96|981,615</setting>
  <setting name="SysInfoWindowState">1</setting>
  <setting name="ThinRows">0</setting>
  <setting name="ThreadTreeListColumns">@96|0,,55|1,,34|2,,93|3,,500|4,,75|5,,100|+ProcessHacker.DotNetTools+1,,120</setting>
  <setting name="ThreadTreeListSort">3,1</setting>
  <setting name="ThreadStackListViewColumns">@96|0,30|1,634</setting>
  <setting name="ThreadStackWindowSize">@96|674,484</setting>
  <setting name="UpdateInterval">3e8</setting>
  <setting name="ColorNew">ff7f</setting>
  <setting name="ColorRemoved">283cff</setting>
  <setting name="UseColorOwnProcesses">1</setting>
  <setting name="ColorOwnProcesses">aaffff</setting>
  <setting name="UseColorSystemProcesses">1</setting>
  <setting name="ColorSystemProcesses">ffccaa</setting>
  <setting name="UseColorServiceProcesses">1</setting>
  <setting name="ColorServiceProcesses">ffffcc</setting>
  <setting name="UseColorJobProcesses">1</setting>
  <setting name="ColorJobProcesses">3f85cd</setting>
  <setting name="UseColorWow64Processes">1</setting>
  <setting name="ColorWow64Processes">8f8fbc</setting>
  <setting name="UseColorDebuggedProcesses">1</setting>
  <setting name="ColorDebuggedProcesses">ffbbcc</setting>
  <setting name="UseColorElevatedProcesses">1</setting>
  <setting name="ColorElevatedProcesses">aaff</setting>
  <setting name="UseColorImmersiveProcesses">1</setting>
  <setting name="ColorImmersiveProcesses">cbc0ff</setting>
  <setting name="UseColorSuspended">1</setting>
  <setting name="ColorSuspended">777777</setting>
  <setting name="UseColorDotNet">1</setting>
  <setting name="ColorDotNet">ffde</setting>
  <setting name="UseColorPacked">1</setting>
  <setting name="ColorPacked">9314ff</setting>
  <setting name="UseColorGuiThreads">1</setting>
  <setting name="ColorGuiThreads">77ffff</setting>
  <setting name="UseColorRelocatedModules">1</setting>
  <setting name="ColorRelocatedModules">80c0ff</setting>
  <setting name="UseColorProtectedHandles">1</setting>
  <setting name="ColorProtectedHandles">777777</setting>
  <setting name="UseColorInheritHandles">1</setting>
  <setting name="ColorInheritHandles">ffff77</setting>
  <setting name="GraphShowText">1</setting>
  <setting name="GraphColorMode">0</setting>
  <setting name="ColorCpuKernel">ff00</setting>
  <setting name="ColorCpuUser">ff</setting>
  <setting name="ColorIoReadOther">ffff</setting>
  <setting name="ColorIoWrite">ff0077</setting>
  <setting name="ColorPrivate">77ff</setting>
  <setting name="ColorPhysical">ffff00</setting>
  <setting name="ProcessHacker.DotNetTools.AsmTreeListColumns">@120|0,0,366|1,1,63|2,2,150|3,3,750|4,4,750</setting>
  <setting name="ProcessHacker.DotNetTools.DotNetCategoryIndex">3</setting>
  <setting name="ProcessHacker.DotNetTools.DotNetListColumns">@120|0,313|1,175</setting>
  <setting name="ProcessHacker.DotNetTools.DotNetShowByteSizes">1</setting>
  <setting name="ProcessHacker.ExtendedNotifications.EnableGrowl">0</setting>
  <setting name="ProcessHacker.ExtendedNotifications.LogFileName"></setting>
  <setting name="ProcessHacker.ExtendedNotifications.ProcessList">\i*</setting>
  <setting name="ProcessHacker.ExtendedNotifications.ServiceList">\i*</setting>
  <setting name="ProcessHacker.ExtendedServices.EnableServicesMenu">1</setting>
  <setting name="ProcessHacker.ExtendedTools.DiskTreeListColumns">@96|0,0,100|1,1,400|2,2,70|3,3,70|4,4,70|5,5,70|6,6,70</setting>
  <setting name="ProcessHacker.ExtendedTools.DiskTreeListSort">4,2</setting>
  <setting name="ProcessHacker.ExtendedTools.EnableEtwMonitor">1</setting>
  <setting name="ProcessHacker.ExtendedTools.EnableGpuMonitor">1</setting>
  <setting name="ProcessHacker.ExtendedTools.GpuNodeBitmap">01000000</setting>
  <setting name="ProcessHacker.ExtendedTools.GpuLastNodeCount">1d</setting>
  <setting name="ProcessHacker.HardwareDevices.EnableNDIS">1</setting>
  <setting name="ProcessHacker.HardwareDevices.NetworkList">0,1689399632855040,{8B25496B-BA87-46A8-AD05-5F23C902A1A4},0,19984723346456576,{44F3D7EB-11E6-4794-9BDB-E2D33C9920A9}</setting>
  <setting name="ProcessHacker.HardwareDevices.DiskList">\\?\scsi#disk&amp;ven_samsung&amp;prod_ssd_840_evo_120g#4&amp;20e0f341&amp;0&amp;000000#{53f56307-b6bf-11d0-94f2-00a0c91efb8b},\\?\scsi#disk&amp;ven_hgst&amp;prod_hts721010a9e630#4&amp;20e0f341&amp;0&amp;040000#{53f56307-b6bf-11d0-94f2-00a0c91efb8b}</setting>
  <setting name="ProcessHacker.NetworkTools.WindowPosition">0,0</setting>
  <setting name="ProcessHacker.NetworkTools.WindowSize">@96|600,365</setting>
  <setting name="ProcessHacker.NetworkTools.PingWindowPosition">0,0</setting>
  <setting name="ProcessHacker.NetworkTools.PingWindowSize">@96|420,250</setting>
  <setting name="ProcessHacker.NetworkTools.PingMaxTimeout">3e8</setting>
  <setting name="ProcessHacker.SbieSupport.SbieDllPath">C:\Program Files\Sandboxie\SbieDll.dll</setting>
  <setting name="ProcessHacker.ToolStatus.Config">1f</setting>
  <setting name="ProcessHacker.ToolStatus.ToolbarTheme">0</setting>
  <setting name="ProcessHacker.ToolStatus.ToolbarDisplayStyle">1</setting>
  <setting name="ProcessHacker.ToolStatus.SearchBoxDisplayMode">0</setting>
  <setting name="ProcessHacker.ToolStatus.RebarConfig"></setting>
  <setting name="ProcessHacker.ToolStatus.ToolbarConfig"></setting>
  <setting name="ProcessHacker.ToolStatus.StatusbarConfig"></setting>
  <setting name="ProcessHacker.UpdateChecker.PromptStart">1</setting>
  <setting name="ProcessHacker.UpdateChecker.LastUpdateCheckTime">131567553600096793</setting>
  <setting name="ProcessHacker.UserNotes.DatabasePath">%APPDATA%\Process Hacker 2\usernotesdb.xml</setting>
  <setting name="ProcessHacker.UserNotes.ColorCustomList">0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</setting>
  <setting name="ProcessHacker.WindowExplorer.ShowDesktopWindows">0</setting>
  <setting name="ProcessHacker.WindowExplorer.WindowTreeListColumns">@96|0,0,180|1,1,70|2,2,220|3,3,150</setting>
  <setting name="ProcessHacker.WindowExplorer.WindowsWindowPosition">855,452</setting>
  <setting name="ProcessHacker.WindowExplorer.WindowsWindowSize">@96|736,516</setting>
  <setting name="UseColorPosixProcesses">1</setting>
  <setting name="ColorPosixProcesses">8b3d48</setting>
  <setting name="ProcessHacker.NetAdapters.EnableNDIS">1</setting>
  <setting name="ProcessHacker.NetAdapters.EnableHiddenAdapters">0</setting>
  <setting name="ProcessHacker.NetAdapters.InterfaceList"></setting>
  <setting name="ProcessHacker.ToolStatus.EnableToolBar">1</setting>
  <setting name="ProcessHacker.ToolStatus.EnableSearchBox">1</setting>
  <setting name="ProcessHacker.ToolStatus.EnableStatusBar">1</setting>
  <setting name="ProcessHacker.ToolStatus.ResolveGhostWindows">1</setting>
  <setting name="ProcessHacker.ToolStatus.StatusMask">d</setting>
  <setting name="MemoryListViewColumns"></setting>
  <setting name="ProcessHacker.ToolStatus.EnableWicImaging">1</setting>
  <setting name="ProcessHacker.Updater.PromptStart">1</setting>
</settings>
